@inherits LayoutComponentBase

<PageTitle>BlazorCheckers</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @*<article class="content px-4">
            @Body
        </article>*@
        <div class="container">
            @Body
        </div>
    </main>
</div>
