.game-board {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 0px solid #333;
}

.board-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.checkers-board-container {
    display: flex;
    justify-content: space-around;
}

.checkers-board {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
    border: solid #567437 25px;
    border-radius: 15px;
    margin: 5px;
}

.cell {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #769656;
    font-size: 25px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 5px solid transparent;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
}

.dark-cell {
    background-color: #769656;
}

.light-cell {
    background-color: #eeeed2;
}

.piece {
    background-color: white;
    height: 80%;
    width: 80%;
    border-radius: 50%;
    display: inline-block;
    border: double black 15px;
}

.dark-piece {
    background-color: dimgrey;
    border-color: #483e3e;
}

.light-piece {
    background-color: white;
    border-color: #545454;
}

.king {
    border-color: gold;
    border-style: ridge;
}

.movable-cell {
    border-color: #c4cf36;
    border-style: solid;
}

.highlighted-cell {
    border-color: dimgrey;
    border-style: dotted;
    background-color: #8bc34a;
}

.selected-cell {
    border-color: dimgrey;
    border-style: solid;
    background-color: #8bc34a;
}
